/** Add css rules here for your application. */

body {
    background: url("images/bg_blue.png") repeat-x scroll 0 0 #F3F3F3;
    color: #555555;
    font: 12px/1.4 "Lucida Sans Unicode","Lucida Grande",sans-serif;
}

a {
    cursor: pointer;
}

#container {
    max-width: 1024px;
    background: #BEBEBE;
    border-right: 1px solid #A7ABB4!important;
    border-left: 1px solid #A7ABB4!important;
    margin:0 auto;
}

#mainpanel {
    background: white;
    height: 100%;
    width: 100%;
}

.header-panel {
    min-height:70px;
    height:70px;
    width:100%;
    background: white url(images/savara_logo_hori.png) no-repeat;
}

.header-link {
    text-decoration:none;
    color:#2E6E9E;
    font-weight: bold;
    text-align:right;
    padding-right:10px;
    cursor:pointer;
    vertical-align:right;
}

.header-link:hover {
    text-decoration:underline;
}

.footer-panel {
    min-height:25px;
    height:25px;
    width:100%;
}

.footer-link {
    text-decoration:none;
    color:#ffffff;
    text-align:right;
    padding-right:10px;
    cursor:pointer;
    vertical-align:right;
}

.footer-link:hover {
    text-decoration:underline;
}

.red-error {color:red}


/** css for the portal and portlet */
.portal {width:100%; background: white;}
.column {float: left; padding-bottom: 100px;}

.portlet { margin: 0 1em 1em 0;}
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em;}
.portlet-header .ui-icon { float: left; }
.portlet-header .portlet-min {}
.portlet-header .portlet-settings {float:right;cursor: pointer;}
.portlet-close {float:right;}
.portlet-content { padding: 0.4em;}
.ui-sortable-placeholder { border: 1px dashed black; visibility: visible !important; }
.ui-sortable-placeholder * { visibility: hidden; }

.portlet-menu {display:none;}

.portlet-iframe {}

/** css for the Tab */
li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

#decorator panel

.gwt-DecoratorPanel {
}
.gwt-DecoratorPanel .topCenter {
    border-top: 1px solid #bbb;
    line-height: 0px;
}
.gwt-DecoratorPanel .bottomCenter {
    border-bottom: 1px solid #bbb;
    line-height: 0px;
}
.gwt-DecoratorPanel .topCenterInner,
.gwt-DecoratorPanel .bottomCenterInner {
    height: 1px;
    line-height: 0px;
    font-size: 1px;
}
.gwt-DecoratorPanel .middleLeft {
    border-left: 1px solid #bbb;
}
.gwt-DecoratorPanel .middleRight {
    border-right: 1px solid #bbb;
}
.gwt-DecoratorPanel .middleLeftInner,
.gwt-DecoratorPanel .middleRightInner {
    width: 1px;
    line-height: 1px;
}
.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
    width: 1px;
    height: 5px;
    zoom: 1;
    font-size: 1px;
    overflow: hidden;
}
.gwt-DecoratorPanel .topLeft {
    line-height: 0px;
    background: url(images/circles.png) no-repeat 1px -6px;
}
.gwt-DecoratorPanel .topRight {
    line-height: 0px;
    background: url(images/circles.png) no-repeat -4px -6px;
}
.gwt-DecoratorPanel .bottomLeft {
    line-height: 0px;
    background: url(images/circles.png) no-repeat 1px -11px;
}
.gwt-DecoratorPanel .bottomRight {
    line-height: 0px;
    background: url(images/circles.png) no-repeat -4px -11px;
}
html>body .gwt-DecoratorPanel {
    width: 95%;
    margin: 5px 5px 10px 25px;
}
* html .gwt-DecoratorPanel .topLeftInner,
* html .gwt-DecoratorPanel .topRightInner,
* html .gwt-DecoratorPanel .bottomLeftInner,
* html .gwt-DecoratorPanel .bottomRightInner {
    width: 5px;
    height: 5px;
    overflow: hidden;
}

#widget store
.storeItemDesc{margin:5px 5px 5px 25px;}
.storeItemInfo{width:95%; background:#2E6E9E; color: white; margin: 5px 5px 10px 25px;}
