.gwt-TabLayoutPanel
{
    height: 100%;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    border-color: #e6e7e8;
    border-style: solid;
    border-width: 3px 2px 2px;
    overflow: hidden;
    padding: 6px;
    background: #FFFFFF;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin-left: 6px;
    padding: 3px 8px 3px 8px;
    cursor: pointer;
    color: black;
    font-size: 1.2em;
    color: #8bc53d;
    text-align: center;
    background: #458818;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    cursor: default;
    background: #8bc53d;
    font-size: 1.2em;
    color: #FFFFFF;
}